<p>
  <h1 style="padding-left:20px;">Hey Haters</h1>
</p>
<p>
  <h3 style="padding-left:20px;padding-top:15px;">Have you ever been screwed by a bad retail experience? or bad food in a resturant?</h3>
  <h3 style="padding-left:20px;padding-top:5px;">Have you been burned by your ISP? Mocked by your cable TV network and insulted by your bank manager?</h3>
</p>
<p>
  <h3 style="padding-left:20px;padding-top:15px;">Maybe if we bitch about it enough, something will change?<h3>
  <h3 style="padding-left:20px;padding-top:15px;">So sign up, hit the 'Haters Posts' button...</h3>
</p>
<p>
  <h1 style="padding-left:20px;padding-top:15px;">....and BITCH, PLEASE.</h1>
</p>
<div id="fb-root"></div>
